.body{
    background: url('../components/img/pc.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 98vh;
}

/* .contact-body {
 margin: auto !important;
 position: fixed !important;
 width: 100% !important;
 height: 100% !important;
 justify-content: center !important;
 padding-top: 2em !important;
} */

.contact-grid {
 color: black !important;
 background-color: navajowhite !important ;
 opacity: 0.9;
}
 /* margin:  auto;
 border: 1px solid gainsboro;
 border-spacing: inherit;
 -ms-flex: 0 0 50%;
 flex: 0 0 50%;
 max-width: 50%;
 text-align: center; */
/* padding-left: 1rem !important;
padding-right: 1rem !important; */
 /* margin-left: 10rem !important; */
/* } */

/* .contacte-grid {
 color: black !important;
 background-color: navajowhite !important ;
 opacity: 0.8 !important;
 text-align: center; */
 /* margin:  auto !important;
 border: 1px solid gainsboro !important;
 border-spacing: inherit !important;
 -ms-flex: 0 0 50% !important;
 flex: 0 0 50% !important;
 max-width: 50% !important; */
 /* padding: 1rem !important; */
/* } */

/* .contact-grid h2 { */
 /* font-family: 'Anton', sans-serif !important;  */
 /* padding-left: 80px;
} */

/* .contact-grid p {
 font-family: 'Oxygen', sans-serif !important;
 font-weight: bold !important;
} */

/* .contact-grid hr {
 border-top: 5px dotted black !important;
 width: 50% !important;
 margin: auto !important;
} */

/* .contact-list i {
 font-size: 60px !important;
 padding-right: 1rem !important;
} */

/* .ListItemContent {
 font-size: 20px !important;
 font-family: 'Anton' !important;
 margin-left: none !important;
} */

img {
 height: 350px !important;
 text-align: center !important;
}

/* p {
 width: 75% !important;
 margin: auto !important;
 padding-top: 1em !important;
} */

/* Form.form.col-6.float-left {
 margin: 0 auto;
 max-width: auto;
 border: 1px solid gainsboro;
 border-spacing: inherit;
 -ms-flex: 0 0 50%;
 flex: 0 0 50%;
 max-width: 50%;
 padding: 30px;
}

Form.col-6.float-right {
 margin: 0 auto;
 max-width: auto;
 border: 1px solid gainsboro;
 border-spacing: inherit;
 -ms-flex: 0 0 50%;
 flex: 0 0 50%;
 max-width: 50%;
 padding: 30px;
} */

/* .centrer {
text-align: center !important;
} */

/* .float-right {
 float: right !important;
} */

/* .float-left {
 float: left !important;
} */